

body{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 0;
    background-color: slategrey;
    color:rgb(10, 51, 85);
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 40%;
    height: 550px;
    
}

.questionBox{
    width: 50%;
    padding: 10%;
    min-height: 150px;
    background-color: teal;
    box-shadow: 0 0 8px 4px rgba(12, 16, 71, 0.5);
    border-radius: 18px;
    

}

h1 {
    color:rgb(16, 16, 189);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color:rgb(102, 102, 102);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
}

.container {
    width: 700px;
    max-width: 85%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.buttonGrid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap:10px;
    margin: 20px 0;
}

/* .start-btn, .next-btn{
    font-size: 

} */

.mainGrid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display:none;
}

